<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Belait</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">belait</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <!-- <img src="https://ionicframework.com/docs/img/demos/card-media.png" style="height: 400px; width: 600px;" /> -->
    <!-- <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header> -->
  
    <ion-card-content class="ion-text-center">
      <img src="https://1.bp.blogspot.com/-HjtalMgqwLY/U8Dcl2cZCOI/AAAAAAAACzM/ism1yk9Shqk/s1600/Oil+&+Gas+Discovery+Centre.JPG" style="max-width: 100%; height: auto;" />
      <br>
      <h1>Belait</h1>
      <h4>Belait District, or simply Belait, is the largest as well as the westernmost district in Brunei. It has an area of 2,727 square kilometres and the population of 69,062 as of 2016. The administrative town is Kuala Belait, located at the mouth of the Belait River</h4>
      
    </ion-card-content>
  </ion-card>

</ion-content>
