<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
   </ion-buttons>
    <ion-title>Hotel 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hotel 4</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <!-- <img src="https://ionicframework.com/docs/img/demos/card-media.png" style="height: 400px; width: 600px;" /> -->
    <!-- <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header> -->
  
    <ion-card-content class="ion-text-center">
      <img src="https://static.wixstatic.com/media/e1af2e_a3b21fb8b41d4558a1b9c4e927ab0d15~mv2.jpg/v1/fill/w_950,h_565,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e1af2e_a3b21fb8b41d4558a1b9c4e927ab0d15~mv2.jpg" style="max-width: 100%; height: auto;" />
      <br>
      <h1>THE ABODE</h1>
      <h2>Resort & Spa</h2>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <h4>An indulgent luxury glamping experience surrounded by remote, untamed wilderness and a lush tropical jungle. The Abode is a unique enclave of luxury 21st century safari style tented villas alongside the tranquil waters of Labu River, where luxury and nature converge for the perfect getaway.</h4><br>
      <h4>Nestled close to the foothills of Bukit Patoi, spread across masses of untouched Southeast Asian Rainforests, immerse yourself in the vibrant flora and fauna with graceful vistas of lush greenery and tranquil waters.</h4><br>
      <h4>Experience authentic luxury, bespoke adventure and a blissful restorative escape at this unique sanctuary, while we tend to your comfort and sustenance. Enjoy our luxurious villa-styled tents, surrounded by mountain mist, lush forest, the gentle sounds of the riverside and winding paths. Let your inner explorer come to life and experience luxury truly gone wild.</h4><br>

      <ion-button class="btn">BOOK NOW</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
