<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
   </ion-buttons>
    <ion-title>Temburong</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">temburong</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <!-- <img src="https://ionicframework.com/docs/img/demos/card-media.png" style="height: 400px; width: 600px;" /> -->
    <!-- <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header> -->
  
    <ion-card-content class="ion-text-center">
      <img src="https://4.bp.blogspot.com/-KUoM2GIvBTo/V95CrddHcCI/AAAAAAAAY3Q/X0JvuSqQ2T0euvR0cTubP37GynAzGLk1QCLcB/s1600/brunei%2Btourism%2Bulu%2Btemburong%2Bnational%2Bpark.jpg" style="max-width: 100%; height: auto;" />
      <br>
      <h1>Temburong</h1>
      <h4>Temburong District, or simply Temburong is the easternmost district in Brunei. It is an exclave surrounded by Malaysia and the Brunei Bay. Temburong is accessible from Brunei's mainland via the Sultan Haji Omar Ali Saifuddien Bridge. It has a total area of 1,306 km².</h4>
      
    </ion-card-content>
  </ion-card>

</ion-content>
