<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
   </ion-buttons>
    <ion-title>Hotel 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hotel 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <!-- <img src="https://ionicframework.com/docs/img/demos/card-media.png" style="height: 400px; width: 600px;" /> -->
    <!-- <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header> -->
  
    <ion-card-content class="ion-text-center">
      <img src="https://pix8.agoda.net/hotelImages/635/6352936/6352936_19021209200072200094.jpg?ca=7&ce=1&s=1024x768" style="max-width: 100%; height: auto;" />
      <br>
      <h1>THE LANES HOTEL</h1>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <h4>The car parking and the Wi-Fi are always free, so you can stay in touch and come and go as you please. Conveniently situated in the Tutong part of Pekan Tutong, this property puts you close to attractions and interesting dining options. Rated with 5 stars, this high-quality property provides guests with access to restaurant and indoor pool on-site.</h4><br>

      <ion-button class="btn">BOOK NOW</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
